/* styles.css */
.QABlock::-webkit-scrollbar {
  width: 8px;
}

.QABlock::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.QABlock::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.QABlock::-webkit-scrollbar-button {
  display: none;
}

.QABlock::-webkit-scrollbar-thumb:hover {
  background: #555;
}